.article-excerpt {
	border-bottom: #ccc solid 1px;
	margin-bottom: 27px;
	padding-bottom: 30px;
	overflow: hidden;
}
.article-excerpt .title {
	font: bold 18px Georgia, Serif;
	margin-bottom: 5px;
}
.article-excerpt .meta {
	color: #666;
	font: italic 13px Georgia, Serif;
	margin-bottom: 10px;
}
.article-excerpt .sep {
	padding: 0 2px;
}
.article-excerpt .has-featured-image .body {
	min-height: 122px;
	position: relative;
	padding-left: 155px;
}
.article-excerpt .has-featured-image img {
	left: 0;
	position: absolute;
	top: 2px;
}