.article .article-section-author-list {
	overflow: visible;
}

.article .article-section-author-list .author-info .content {
	background: #fff;
	border: #ddd solid 1px;
	margin: 0;
	padding: 7px 10px;
}
.article .article-section-author-list .author-info .content p {
	margin: 0;
}
.article .article-section-author-list ul {
	padding-right: .27em;
}
.article .article-section-author-list li {
	float: left;
	margin-right: 10px;
	position: relative;
}
.article .article-section-author-list li:hover .author-info {
	display: block;
}
.article .article-section-author-list .author-info {
	display: none;
	left: 50%;
	margin-left: -119px;
	position: absolute;
	width: 238px;
	z-index: 1000;
}
.article .article-section-author-list .author-info .header {
	background: url(../img/author-list-box-pointer.png) center 0 no-repeat;
	height: 7px;
	margin: 0;
	position: relative;
	top: 1px;
}
