@import "base";
@import "utility";
@import "structure";
/* Re-usable features */
@import "search";
@import "featured-posts";
@import "article-excerpt";
@import "callouts";

.pagination .previous {
	float: left;
}
.pagination .next {
	float: right;
}
.home .section-title {
	border-bottom: #ccc solid 1px;
	color: #000;
	font: italic bold 16px Georgia, Serif;
}