#sidebar .widget {
	background: #f0f0f0;
	margin-bottom: 1px;
	padding: 20px;
}
#sidebar .widget_text {
	background: none;
	padding: 0;
}
#sidebar .widget .title {
	color: #000;
	font: italic bold 14px Georgia, Serif;
	margin-bottom: 10px;
}