/*
Each main section of the site is an "Act"
Act 1: Header
Act 2: Content
Act 3: Footer
*/
.act .in {
	.clearfix;
	
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/** @section Header
 -------------------------------------------------- */
#header {
	background: #006b94;
	color: #fff;
}
#header a {
	color: #fff;
}
#main {
	padding: 35px 0 47px;
}
#main-body {
	margin-right: 30px;
	width: 630px;
}
#main-sidebar {
	width: 300px;
}
#site-name {
	font-size: 36px;
	font-weight: normal;
	line-height: 1.2;
	text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
}
#site-nav {
	background: #66a6bf;
	font-weight: bold;
	font-size: 14px;
}
#site-nav .nav {
	float: left;
}
#site-nav a {
	border-right: 1px solid #006b94;
	line-height: 20px;
	padding: 7px 10px;
}

#secondary-nav li {
	background: url(../img/sprite-y.8bit.png) 0 -2px scroll top left;
	margin-left: 10px;
}