/*
Each main section of the site is an "Act"
Act 1: Header
Act 2: Content
Act 3: Footer
*/
.act .in {
	.clearfix;
	
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/** @section Header
 -------------------------------------------------- */
#header {
	background: #006b94;
	color: #fff;
}
#header a {
	color: #fff;
}
#site-nav {
	background: #66a6bf;
}