.tools-bar {
	margin-bottom: 25px;
	padding: 17px 12px;
}
.tools-bar .cell {
	float: left;
}
#selector {
	
	width: 100px;
	height: 700px;
}
.tools-bar .print {
	margin-right: 50px;
}
.tools-bar .print a {
	background: url(../img/sprite-y.24bit.png) 0 -200px no-repeat;
	padding-left: 19px;
}
.tools-bar .download label {
	background: url(../img/sprite-y.24bit.png) 0 -300px no-repeat;
	padding-left: 17px;
}

.tools-bar .share {
	float: right;
}


/* Tools Nav */
.tools-nav {
	left: 0;
	position: absolute;
	top: 0;
}
.tools-nav li {
	display: block;
	float: none;
	margin-bottom: 1px;
}
#selector {
	
	width: 100px;
	height: 700px;
}
.tools-nav li a {
	background: #006b94 url(../img/sprite-y.24bit.png) 0 100px no-repeat;
	display: block;
	height: 22px;
	width: 22px;
}

.tools-nav li a.content {
	background-position: 4px -394px;
}
.tools-nav li a.download {
	background-position: 5px -596px;
}
.tools-nav li a.comments {
	background-position: 5px -495px;
}

