.page-title {
	color: #000;
	font: normal 28px Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}

.section-title,
.sec h1 {
	background: url(../img/sprite-y.8bit.png) 0 -499px no-repeat;
	border: 0;
	color: #a29674;
	font: bold 11px/12px Helvetica, Arial, sans-serif;
	font-style: normal;
	letter-spacing: 1px;
	margin-bottom: 14px;
	padding-left: 9px;
	text-transform: uppercase;
	zoom: 1; /* required to get background indicators to appear in IE6 */
}
html.ie6 .section-title {
	background-position: 0 -498px;
}

.home .section-title {
	margin-bottom: 27px;
}
.section-title span {
	background: none;
	padding: 0;
	position: static;
}
.content blockquote {
	font-size: 16px;
}

