html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{font:14px/1.42858 Arial,Helvetica,sans-serif;}
a{color:#006b94;text-decoration:none;}
a:hover{text-decoration:underline;}
a:hover,a:active{outline:none;}
nav ul,nav li{margin:0;list-style:none;list-style-image:none;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
button,input,select,textarea{width:auto;overflow:visible;margin:0;font-size:100%;font-family:sans-serif;vertical-align:baseline;}
textarea{overflow:auto;vertical-align:text-top;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}
.ie7 img{-ms-interpolation-mode:bicubic;}
body,select,input,textarea{color:#444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
.imr{display:block;text-indent:-32000px;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.nav{zoom:1;list-style:none;margin:0;}.nav:before,.nav:after{content:"";display:table;}
.nav:after{clear:both;}
.nav li{display:inline;float:left;margin:0;}
.nav a{display:block;}
.act .in{zoom:1;margin-left:auto;margin-right:auto;position:relative;width:960px;}.act .in:before,.act .in:after{content:"";display:table;}
.act .in:after{clear:both;}
#header{background:#000;color:#fff;position:relative;z-index:2;}
#header .header-body{background:#006b94;height:86px;position:relative;zoom:1;}
#header .header-body a,#site-nav a{color:#fff;}
#header .navigation{background:#006b94;}
#masthead{background:#006b94;}
#main{padding-top:35px;}
#main-body,#masthead-body{float:left;margin-right:30px;width:630px;}
#masthead-body{overflow:hidden;}
#main-body,#main-sidebar{padding-bottom:50px;}
#main-sidebar,#masthead-sidebar{float:left;overflow:hidden;width:300px;}
#site-name{font-size:36px;font-weight:normal;line-height:1.2;padding:36px 0 7px 0;text-shadow:rgba(0, 0, 0, 0.8) 0 1px 0;}
#site-nav{background:#66a6bf;font-weight:bold;font-size:14px;height:34px;}
#site-nav .nav{float:left;}
#site-nav li{border-color:#006b94;border-style:solid;border-right-width:1px;color:#66A6BF;position:relative;}
#site-nav li ul{display:none;position:absolute;width:150px;z-index:1000;}
#site-nav li li{border:none;float:none;}
#site-nav li li a{background:#66A6BF;}
#site-nav li:hover ul,#site-nav li.hover ul{display:block;}
#site-nav a{line-height:20px;padding:7px 10px;}
#secondary-nav .nav{bottom:13px;position:absolute;right:0;}
#secondary-nav li{background:url(../img/sprite-y.8bit.png) 0 10px no-repeat;margin-left:8px;padding-left:9px;}
#secondary-nav li:first-child,#secondary-nav li.first-child{background:none;margin-left:0;padding-left:0;}
#masthead{padding:35px 0;}
#footer{padding-bottom:20px;}
#footer .in{border-top:#ddd solid 1px;padding-top:10px;}
#footer,#footer a{color:#787878;font-size:11px;}
#footer label,#footer .nav{float:left;}
#footer .nav li{background:url(../img/sprite-y.8bit.png) 0 -293px no-repeat;margin-left:6px;padding-left:8px;}
#footer .nav li:first-child{background:none;margin:0;padding:0;}
form.search input.type-text{color:#666;font-size:13px;padding:1px 19px 1px 6px;width:169px;}
form.search{position:relative;}
form.search .type-submit{background:url(../img/sprite-y.8bit.png) 0 -100px no-repeat;border:0;height:13px;overflow:hidden;position:absolute;right:6px;top:5px;width:14px;}
#site-nav .search{position:absolute;right:5px;top:6px;}
.featured-posts{overflow:hidden;position:relative;zoom:1;}
.featured-posts ul,.featured-posts li{height:262px;list-style:none;list-style-position:outside;margin:0;overflow:hidden;width:100%;}
.featured-posts .carousel-item{height:auto !important;height:232px;min-height:232px;background:#66a6bf;color:#000;padding:16px 16px 16px 300px;position:relative;}
.featured-posts .carousel-item img{left:16px;position:absolute;top:18px;}
.featured-posts .carousel-item .title{font:italic bold 24px Georgia, Serif;margin-bottom:6px;}
.featured-posts .carousel-item .title a{color:#fff;text-shadow:0 1px 1px rgba(51, 51, 51, 0.6);}
.featured-posts .carousel-item .content{font-size:14px;line-height:1.5;}
.featured-posts .control-panel{bottom:17px;color:#006b94;font-size:11px;font-weight:bold;height:20px;line-height:20px;padding:0 55px 0 0;position:absolute;right:15px;text-align:right;text-transform:uppercase;width:200px;z-index:10;}
.featured-posts .control-panel .previous,.featured-posts .control-panel .next{background-image:url(../img/sprite-y.24bit.png);background-repeat:no-repeat;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;cursor:pointer;height:20px;position:absolute;top:0;width:20px;}
.featured-posts .control-panel .previous{background-position:7px 6px;right:27px;}
.featured-posts .control-panel .next{background-position:8px -94px;right:0;}
.article .entry-title,.article .content{overflow:hidden;width:100%;zoom:1;}
.article .content .entry-content,.article .content .entry-summary{margin-bottom:10px;}
.article .header{margin-bottom:20px;}
.article .header .entry-title a{color:#000;}
.article .header .entry-title .title{font:bold 28px Georgia, Serif;margin-bottom:5px;}
.article .header .sec .title{display:block;}
.article .header .meta{color:#666;font:italic 13px/1.5384 Georgia,Serif;margin:0 15px 15px;}
.article .header .meta a:link{color:#666;}
.article .header .meta a:hover{color:#006b94;text-decoration:none;}
.article .article-section .subtitle{font-size:14px;font-weight:bold;}
.article .supplement{background:#f6f6f6;border-bottom:#dadada solid 1px;border-top:#dadada solid 1px;margin-left:15px;margin-right:15px;position:relative;}
.article .to-top{text-align:right;}
.article .to-top a{background:#006B94;color:#fff;font-weight:bold;padding:4px 8px;}
.article-excerpt{border-bottom:#ccc solid 1px;margin-bottom:27px;padding-bottom:15px;overflow:hidden;}
.article-excerpt .header .title{font:bold 18px Georgia, Serif;margin-bottom:5px;}
.article-excerpt .header .meta{color:#666;font:italic 13px Georgia, Serif;margin-bottom:10px;}
.article-excerpt .sep{padding:0 2px;}
.article-excerpt-container .has-featured-image .content{height:auto !important;height:122px;min-height:122px;position:relative;padding-left:155px;zoom:1;}
.article-excerpt-container .has-featured-image img{left:0;position:absolute;top:2px;}
.article-excerpt .content{margin-bottom:12px;}
.callouts{margin-bottom:30px;}
.callouts ul{margin:0;padding:0;}
.callouts li{float:left;list-style:none;margin:0 0 0 30px;padding:0;width:300px;}
.callouts li:first-child,.callouts li.first-child{margin-left:0;}
.callout-item{background:#f0f0f0;border-bottom-style:solid;border-bottom-width:2px;border-top-style:solid;border-top-width:2px;padding:13px 17px;}
.callout-item .title{font:italic bold 18px Georgia, Serif;margin-bottom:4px;}
.callout-item .content{font-size:14px;line-height:1.43;}
.post-teasers ul{margin:0;padding:0;}
.post-teasers li{list-style:none;margin:0 0 1px;padding:0;}
.post-teaser-item{background:#66A6BF;height:67px;overflow:hidden;padding:10px 10px 10px 113px;position:relative;}
.post-teaser-item img{left:4px;position:absolute;top:4px;}
.post-teaser-item .content{font:italic bold 15px/1.47 Georgia,Serif;}
.post-teaser-item .content a{color:#fff;text-shadow:rgba(51, 51, 51, 0.6) 0 1px 0;}
.tools-bar{margin-bottom:25px;padding:17px 12px;}
.tools-bar .cell{float:left;}
#selector{width:100px;height:700px;}
.tools-bar .print{margin-right:50px;}
.tools-bar .print a{background:url(../img/sprite-y.24bit.png) 0 -200px no-repeat;padding-left:19px;}
.tools-bar .download label{background:url(../img/sprite-y.24bit.png) 0 -300px no-repeat;padding-left:17px;}
.tools-bar .share{float:right;}
.tools-nav{font-size:12px;left:0;line-height:1.5;position:absolute;top:0;width:165px;z-index:1000;}
.tools-nav .tools-menu-item{position:absolute;width:158px;}
.tools-nav .tools-menu-item .header{background:url(../img/tools-content-background.png) 0 0 no-repeat;padding:17px 18px 0 11px;}
.tools-nav .tools-menu-item .body{background:url(../img/tools-content-background.png) 0 bottom no-repeat;padding:7px 16px 21px 11px;}
.tools-nav .tools-menu-item .title{border-bottom:#d3dbe1 solid 1px;font:italic bold 14px Georgia, Serif;padding:0 0 2px;}
.tools-nav .tools-menu-item ul{margin-left:1px;}
.tools-nav .tools-menu-item li{background:url(../img/sprite-y.8bit.png) 0 -393px no-repeat;padding-left:7px;}
.tools-nav .nav{right:-11px;position:absolute;top:2px;}
.tools-nav .nav li{display:block;float:none;list-style:disc;margin-bottom:1px;}
.tools-nav .nav li a{background:#006b94 url(../img/sprite-y.24bit.png) 0 100px no-repeat;display:block;height:22px;width:22px;}
.tools-nav .nav li.active a{background-color:#e0e6ea;}
.tools-nav .nav li a.content{background-position:-96px -394px;}
.tools-nav .nav li a.download{background-position:-96px -296px;}
.tools-nav .nav li a.comments{background-position:-96px -495px;}
.tools-nav .nav li.active a.content{background-position:-196px -394px;}
.tools-nav .nav li.active a.download{background-position:-196px -296px;}
.tools-nav .nav li.active a.comments{background-position:-196px -495px;}
.social-nav li{margin-left:6px;}
#comments-container{margin-bottom:22px;}
#comments-container .section-header{position:relative;}
#comments-container .section-header a{position:absolute;right:0;top:0;}
#comments-container .section-title{background:none;margin-bottom:6px;}
#comments-container .reply-list{border-bottom:1px #ccc solid;margin:0 0 18px;padding:0;}
#comments-container .reply-list li{list-style:none;margin:0;padding:0;}
#comments-container .reply-list .comment,#comments-container .reply-list .ping{border-top:1px #ccc solid;padding:14px 0;}
#comments-container .reply-list .comment{margin-bottom:15px;padding-left:180px;position:relative;zoom:1;}
#comments-container .reply-list .comment ul li{list-style-type:disc;}
#comments-container .reply-list .comment ol li{list-style-type:decimal;}
#comments-container .reply-list .children .li-comment{padding-left:40px;}
#comments-container .reply-list .comment .header{height:auto !important;height:38px;min-height:38px;left:0;padding:0 0 0 46px;position:absolute;top:14px;width:134px;}
#comments-container .reply-list .comment .header img{left:0;position:absolute;top:0;}
#comments-container .reply-list .comment .header .title,#comments-container .reply-list .comment .header .published{font:normal 13px Arial,Helvetica,Sans-Serif;margin:0;}
#comments-container .reply-list .comment .header .title{margin:0;}
#comments-container .reply-list .comment .content{font-size:13px;line-height:1.38;}
#comments-container .reply-list .comment .footer{font-size:12px;}
#reply{color:#666;width:627px;}
#reply .section-title{background:none;margin-bottom:16px;}
#reply .logged-in{margin-bottom:12px;}
#reply .input-row{display:inline-block;margin-bottom:10px;padding-left:180px;position:relative;}
#reply .input-row-submit{background:none;}
#reply .input-row label{font-size:14px;left:0;position:absolute;top:0;width:172px;}
#reply .input-row .text,#reply .input-row textarea{background:#fff;border:1px #999 solid;font-size:14px;padding:6px;}
#reply .input-row .text{width:206px;}
#reply .input-row textarea{display:block;width:433px;}
#reply button{border:0;color:#fff;font-size:16px;font-weight:bold;height:31px;}
#sidebar .widget{background:#f0f0f0;margin-bottom:1px;padding-bottom:20px;}
#sidebar .widget_text{background:none;padding:0;}
#sidebar .widget .title{color:#000;font:italic bold 14px Georgia, Serif;margin-bottom:10px;padding:20px 0 0 20px;}
.widget li{font-size:13px;line-height:1.38;padding:3px 20px;}
.widget li a{display:block;}
.widget li a:hover{text-decoration:none;}
.widget ol li:hover,.widget ul li:hover{background-color:#dadada;text-decoration:none;}
.widget ol li.recentcomments:hover,.widget ul li.recentcomments:hover{background-color:none;}
.widget li.recentcomments a:hover{text-decoration:underline;}
.pagination .previous{float:left;}
.pagination .next{float:right;}
.page-title{color:#000;font:bold 28px Georgia, Serif;margin-bottom:5px;}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{line-height:1.2;margin-top:20px;margin-bottom:10px;}
.content h1,.content h2{font-size:16px;}
.content h3{font-size:14px;}
.content h4,.content h5,.content h6{color:#777;font-size:11px;text-transform:uppercase;letter-spacing:0.09em;margin-bottom:3px;}
.content p,.content ul,.content ol,.content pre,.content blockquote,.content dl,.content address,.content table{margin-bottom:10px;}
.content blockquote{font:italic normal 18px/1.2 Georgia Serif;margin:10px;}
.content blockquote cite{font-weight:bold;}
.content dt{font-style:italic;font-weight:bold;}
.content dd{margin-bottom:9px;}
.content ul,.content ol{margin-left:2em;}
.content li{margin-bottom:5px;}
.content li ul,.content li ol{margin-top:5px;margin-bottom:0;}
.article-section-references .section-title{margin-bottom:16px;}
.article-section-references ol{list-style:decimal;margin-left:35px;}
.article-section-references li{margin-bottom:10px;}
.article-section-references ol a{font-size:10px;line-height:1;text-transform:uppercase;}
.authors{overflow:visible;}
.authors .author-info .content{background:url(../img/author-card-background.png) center bottom no-repeat;margin:0;padding:1px 15px 15px;}
.authors .author-info .content p{margin:0;}
.authors ul{padding-right:4px;}
.authors li{float:left;margin-right:10px;zoom:1;}
.author{display:block;position:relative;}
.author .extra a{display:inline;}
.author .extra .group{display:block;margin-bottom:5px;}
.author .extra{background:url(../img/author-card-background.png) -300px bottom no-repeat;font-size:12px;display:none;left:50%;margin-left:-119px;padding-bottom:10px;position:absolute;width:248px;z-index:1000;}
.author .extra-in{background:url(../img/author-card-background.png) 0 0 no-repeat;display:block;padding:16px 13px 1px;}
.author:hover .extra,.author.hover .extra{display:block;}
html.ie7 .authors .extra{top:15px;}
.widget-recent-posts .nav{margin-bottom:11px;padding:20px 0 0 20px;}
.widget-recent-posts .nav li{background:#dadada;border-bottom:#006B94 solid 1px;font:italic bold 14px Georgia, Serif;margin-right:6px;padding:0;}
.widget-recent-posts .nav li a{display:block;padding:4px 8px;}
.widget-recent-posts .nav .ui-tabs-selected{background:#006B94;}
.widget-recent-posts .nav .ui-tabs-selected a{color:#fff;}
.widget-recent-posts .panel ol{background:url(../img/widget-hr.png) center bottom no-repeat;padding-bottom:16px;}
.ui-tabs-hide{display:none;}
.sec{margin-bottom:25px;padding-left:15px;padding-right:15px;}
.sec h1,.sec .title,.section-title{background:url(../img/border-background.png) 0 bottom repeat-x;color:#000;font:italic bold 16px/1.2 Georgia,Serif;margin-bottom:15px;}
.sec h1,.sec .title{margin-left:-15px;margin-right:-15px;margin-top:25px;}
.sec h1:first-child,.sec .title:first-child{margin-top:0;}
.sec h1 span,.sec .title span,.section-title span{background:#fff;padding-right:3px;position:relative;top:4px;}
