/* This file is much liek the main.css, but lacks a few CSS rules that the PDF generator didn't like */
html,body{font-size: 13px;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}
nav ol,nav ul{list-style-type:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a{color:#006b94;text-decoration:none;}
a:hover{text-decoration:underline;}
a:hover,a:active{outline:none;}
nav ul,nav li{margin:0;list-style:none;list-style-image:none;list-style-type:none;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td{vertical-align:top;}

sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
button,input,select,textarea{width:auto;overflow:visible;margin:0;font-size:100%;vertical-align:baseline;}
textarea{overflow:auto;vertical-align:text-top;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}
.ie7 img{-ms-interpolation-mode:bicubic;}
body,select,input,textarea,mark{color:#444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
.imr{display:block;text-indent:-32000px;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
dl.kv{overflow:hidden;margin-bottom:12px;zoom:1;}
dl.kv dt{color:#454545;clear:left;float:left;font:bold italic 12px/20px;margin-right:.25em;}
dl.kv dd{margin-bottom:8px;}
.tags{font-size:12px;line-height:20px;}
.alignleft{float:left;margin-right:1em;margin-bottom:1em;}
.alignright{float:right;margin-left:1em;margin-bottom:1em;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.wp-caption,.gallery-caption{margin:10px 0;}
.wp-caption-text,.gallery-caption{margin:0;}
.sticky{}
.bypostauthor .header h3.title{font-weight:bold;}
.appendices,.figure,.list,.quote,.table{margin-bottom:10px;}
.figure{background:#f6f6f6;border:1px solid #ddd;border-width:1px 0;padding:12px 12px 4px;}
.figure .photo,.figure figcaption .fn,.figure .license{margin-bottom:8px;}
.figure .photo{float:left;margin-right:13px;}
.figure figcaption{font-size:13px;line-height:1.384615385;overflow:hidden;}
.figure figcaption>.label{font-size:12px;margin:0 0 8px;}
.figure .figcaption{font-size:13px;line-height:1.384615385;overflow:hidden;}
.figure .figcaption>.label{font-size:13px;margin:0 0 8px;}
.figure .license{display:block;}
.license{color:#787878;font-size:12px;}
.quote{background:#f6f6f6;border:1px solid #ddd;border-width:1px 0;padding:12px 12px 2px;}
.quote blockquote,.content .quote blockquote,.quote .attribution,.quote .license{margin:0 0 10px;}
.quote .attribution,.quote .license{display:block;} 
.table figcaption{display:block;font-weight:bold;margin-bottom:5px;}
.act .in{zoom:1;margin-left:auto;margin-right:auto;position:relative;width:960px;}
.act .in:after{clear:both;}
#footer{padding-bottom:20px;}
#footer .in{border-top:#ddd solid 1px;padding-top:10px;}
#footer,#footer a{color:#787878;font-size:11px;}
#footer label,#footer .nav{float:left;}
#footer .nav li{background:url(../img/sprite-y.8bit.png) 0 -293px no-repeat;margin-left:6px;padding-left:8px;}
#footer .nav li:first-child{background:none;margin:0;padding:0;}
#dashboard_right_now #article-dashboard-summary{position:static;top:auto;left:auto;margin:15px 5px 0;padding:0 0 5px 0;border-bottom:#ECECEC 1px solid;}
form.search input.type-text{color:#666;font-size:13px;padding:1px 19px 1px 6px;width:169px;}
form.search{position:relative;}
form.search .type-submit{background:url(../img/sprite-y.8bit.png) 0 -100px no-repeat;border:0;height:13px;overflow:hidden;position:absolute;right:6px;top:5px;width:14px;}
#site-nav .search{position:absolute;right:5px;top:6px;}
.article-full{background:url(../img/article-border.png) repeat-x 0 bottom;margin-bottom:34px;padding-bottom:5px;}
.article-full .entry-title,.article-full .main{overflow:hidden;zoom:1;width:100%;}
.article-full .content .entry-content,.article-full .content .entry-summary{margin-bottom:10px;}
.article-full .header{margin-bottom:20px;}
.article-full .header .entry-title a{color:#000;}
.article-full .header .entry-title .title{font:bold 28px/1.2;margin-bottom:5px;}
.article-full .header .entry-title .subtitle{font:bold 18px/1.2;margin-bottom:8px;}
.article-full .header .sec .title{display:block;}
.article-full .header .meta{color:#666;font:italic 13px/1.5384;margin:0 15px 15px;}
.article-full .header .meta a:link{color:#666;}
.article-full .header .meta a:hover{color:#006b94;text-decoration:none;}
.article-full .footer{margin-bottom:25px;}
.article-full .content{margin-bottom:25px;padding:0 15px;}
.article-full .content .sec{padding-left:0;padding-right:0;}
.article-full textarea.entry-summary{clear:left;font-size:12px;line-height:18px;height:54px;padding:9px;width:95%;}
.article-full .supplement{background:#f6f6f6;border-bottom:#dadada solid 1px;border-top:#dadada solid 1px;margin-left:15px;margin-right:15px;position:relative;}
.article-full .to-top{text-align:right;}
.article-full .to-top a{background:#006B94;color:#fff;font-weight:bold;padding:4px 8px;}
.callouts{margin-bottom:30px;}
.callouts ul{list-style:none;margin:0;padding:0;}
.callouts-2x li{float:left;list-style:none;margin:0 0 0 30px;padding:0;width:300px;}
.callouts-2x li:first-child,.callouts-2x li.first-child{margin-left:0;}
.callout-item{background:#f0f0f0;border-bottom-style:solid;border-bottom-width:2px;border-top-style:solid;border-top-width:2px;padding:13px 17px;}
.callout-item .title{font:italic bold 18px;margin-bottom:4px;}
.callout-item .content{font-size:14px;line-height:1.43;}
.teasers{overflow:hidden;}
.teaser{background:#66A6BF;color:#fff;margin-bottom:1px;height:auto !important;overflow:visible !important;height:67px;min-height:67px;padding:10px;position:relative;}
.teaser .title{color:#fff;text-shadow:rgba(51, 51, 51, 0.6) 0 1px 0;font:italic bold 15px/1.47;}
.page-title{color:#000;font:bold 28px;margin-bottom:5px;}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{line-height:1.2;margin-top:20px;margin-bottom:10px;}
.content h1,.content h2{font-size:16px;}
.content h3{font-size:14px;}
.content h4,.content h5,.content h6{color:#777;font-size:11px;text-transform:uppercase;letter-spacing:0.09em;margin-bottom:3px;}
.content p,.content ul,.content ol,.content pre,.content blockquote,.content dl,.content address,.content table,.content table-wrap{margin-bottom:10px;}
.content table-wrap label{display:block;}
.content table .caption{background:#f6f6f6;border:#ddd solid 1px;border-width:1px 1px 0;color:#787878;font-size:12px;line-height:22px;padding:0 8px;text-align:left;}
.content table{background:#fff;border-collapse:collapse;border:#ddd solid 1px;min-width:100%;}
.content table th,.content table td{padding-left:6px;padding-right:6px;text-align:left;}
.content table th{background:#f6f6f6;border-bottom:#ddd solid 1px;}
.content table td{border:#ddd solid 1px;}
.content blockquote{font:italic normal 14px/1.2;margin:10px;}
.content blockquote cite{font-weight:bold;}
.content dt{font-style:italic;font-weight:bold;}
.content dd{margin-bottom:9px;}
.content ul,.content ol{margin-left:2em;}
.content li{margin-bottom:5px;}
.content li ul,.content li ol{margin-top:5px;margin-bottom:0;}
.content .alignleft{float:left;margin:0 10px 10px 0;}
.content .alignright{float:right;margin:0 0 10px 10px;}
.content .aligncenter{display:block;margin:0 auto 10px auto;}
.references ul{margin-left:0;list-style-type:none}
.references li{margin-bottom:10px;margin-top:10px;}
.references li:before{content:attr(data-refid) '.'; margin-right:5px}
.references ul a{font-size:10px;line-height:1;text-transform:uppercase;}
.author .extra a{display:inline;}
.author .extra .group{display:block;margin-bottom:5px;}
.author .extra{background:url(../img/author-card-background.png) -300px bottom no-repeat;font-size:12px;display:none;left:50%;margin-left:-119px;padding-bottom:10px;position:absolute;top:20px;width:248px;z-index:1000;}
.author .extra-in{background:url(../img/author-card-background.png) 0 0 no-repeat;display:block;padding:16px 13px 1px;}
.author:hover .extra,.author.hover .extra{display:block;}
html.ie7 .authors .extra{top:15px;}
.ui-tabs-hide{display:none !important;}
.sec{margin-bottom:25px;padding-left:15px;padding-right:15px;}

/* Explicit Rules for our PDF */

body {
	margin: 20px;
	margin-bottom: 20px;
}

caption{
	background:#f6f6f6;
	border:#444 solid 1px;
	border-width:1px 1px 0;
	color:#787878;
	font-size:12px;
	line-height:12px;
	margin: 0;
	padding:8px 8px 0 8px;
	text-align:left;
}

.figcaption {
	font-size:13px;
	line-height:1.384615385;
	overflow:hidden;
}
div.tools-bar {
	display:none;
}
#wpadminbar {
	display:none;
}

.appendix h1 {
	text-transform:uppercase;
}

.article-full {
	background: none;
}
.appendix h1 {
	text-transform:uppercase;
}
.authors a {
	display: inline;
}
#main,
#main-body,
#masthead-body{
	float:left;
	margin-right:30px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width:770px;
}
#institutions,
#institutions strong {
	font-size:12px;
	margin-top:10px;}
#header{
	width:100%;
	text-align:right;
}
a.reflink {
	color:#444;
	text-decoration:none;
	font-weight:bold;
	vertical-align:text-top;
}
a {
	color: #444 !important;
	text-decoration:none !important;
}

/** #454444 vs #444444 to account for bug in domPDF on color swapping **/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	page-break-before: avoid;
	font-family: dejavusans; 
	color: #454444 !important;
	page-break-inside: avoid;
}

div {
	margin: 0 !important;
}
.table:first-child,
.figure {
	page-break-before: always;
	margin-bottom: 10px !important;
}

dl.kv dt,
.author-header .author-link a,
.article-full .header .entry-title .title,
.article-full .header .entry-title .subtitle,
.article-full .header .meta,
.callout-item .title,
.teaser .title,
.page-title,
.content blockquote {
	font-family: dejavu-serif !important;
}

/** Fixes bug in domPDF which doesnt correct font color if the border comes before it on a page **/
#footer .in,
.content table .caption,
.content table,
.content table th,
.content table td,
#footer .in,
.quote,
.figure{border-color:#444;}

