html {
	direction: rtl;
	unicode-bidi: embed;
}

/* Search */
#site-nav .search {
	left: 5px;
	right: auto;
}
form.search {
	display: inline; /* double-margin float bug */
	margin-left: 6px;
	margin-right: 0;
}
form.search input.type-text {
	padding-left: 19px;
	padding-right: 6px;
}
form.search .type-submit {
	left: 4px;
	right: auto;  
}
html.ie6 form.search .type-submit {
	left: 6px;
}

/* Primary Nav */
#site-nav .nav {
	float: right;
}
/**
 * @bugfix RTL floating bug
 * Fix a bizzarro bug wherein IE6 actually floats the menu right, though left is
 * is specified. If you do float it right, all content inside disappears and is
 * unresponsive to traditional fixes like the Peekaboo fix.
 * @affected IE6
 * @valid yes
 */
.ie6 #site-nav .nav {
	float: left;
}

#site-nav .nav ul {
	left:  auto;
	right: 0;
}
#site-nav li {
	border-right: 0;
	border-left-width: 1px;
}

/* Secondary Nav */
#secondary-nav {
	left: 0;
	right: auto;
}
#secondary-nav .nav li {
	background-position: right 10px;
	margin-left: 0;
	margin-right: 8px;
	padding-left: 0;
	padding-right: 9px;
}



/* Content */

#main-body,
#masthead-body {
	float: right;
	margin-right: 0;
}
#masthead-body {
	margin-left: 30px;
}
#main-sidebar,
#masthead-sidebar {
	margin-right: 30px;
}
.section-title span {
	padding: 0 0 0 3px;
}
.content ul,
.content ol,
.content pre {
	margin-left: 0;
	margin-right: 24px;
}
.article-full .header .sec .authors li {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.article-full .to-top {
	text-align: left;
}
.article-full .to-top a {
	zoom: 1;
}
.article-full .footer dl.kv dt {
	clear: right;
	float: right;
}
.article-full .references ol {
	margin-left: 0;
	margin-right: 2em;
}

#replies .section-header a {
	left: 0;
	right: auto;
}
#replies .reply-list .comment {
	padding-left: 0;
	padding-right: 180px;
}
#replies .reply-list .comment .header {
	left: auto;
	padding-left: 0;
	padding-right: 46px;
	right: 0;
}
#replies .reply-list .comment .header img {
	left: auto;
	right: 0;
}
.reply-list .children .li-comment {
	padding-left: 0;
	padding-right: 20px;
}
/* Recent Posts Widget */
.widget-recent-posts .nav li {
	float: right;
	margin-left: 6px;
	margin-right: 0;
}
/* Calendar Widget */
#wp-calendar th,
#wp-calendar caption {
	text-align: right;
}

#response .input-row {
	padding-left: 0;
	padding-right: 180px;
}
#response .input-row label {
	left: auto;
	right: 0;
}
.tools-bar .cell {
	float: right;
	text-align: right;
}
.tools-bar .download {
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	background-position: right -297px;
	padding-left: 0;
	padding-right: 17px !important;
}
.tools-bar .print,
.tools-bar .citation {
	margin-left: 36px;
	margin-right: 0;
}
.tools-bar .print a {
	background-position: right -198px;
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	padding-left: 0;
	padding-right: 19px;
}
.tools-bar .citation a {
	background-position: right -595px;
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	padding-left: 0;
	padding-right: 19px;
}
.tools-bar .citation .citation-container {
	left: auto;
	right: -10px;
}
.tools-bar .share {
	float: left;
}
.tools-bar .share li {
	float: right;
}
.social-nav li {
	margin-left: 0;
	margin-right: 6px;
}

.tools-nav .tools-menu-item .header {
	background: url(../img/tools-content-background.png) right 0 no-repeat;
	padding: 17px  0 ;
	padding-left: 18px;
	padding-right: 11px;
}

.tools-nav .tools-menu-item .body {
	background: url(../img/tools-content-background.png) right bottom no-repeat;
	padding-left: 16px;
	padding-right: 11px;
}
.tools-nav .tools-menu-item ul {
	margin-left: 0;
	margin-right: 1px;
}
.tools-nav .tools-menu-item li {
	background-position: right -593px;
	padding-left: 0;
	padding-right: 7px;
}
.tools-nav .nav {
	left: -11px;
	right: auto;
}

/* Featured Post Carousel */
.featured-posts .carousel-item {
	padding: 15px 298px 15px 15px;
}
.featured-posts .carousel-item img {
	left: auto;
	right: 16px;
}
.featured-posts .control-panel {
	left: 15px;
	padding-left: 55px;
	padding-right: 0;
	right: auto;
	text-align: left;
}
.featured-posts .control-panel label {
	float: right;
}
.featured-posts .control-panel .previous {
	right: auto;
	left: 0;
}
.featured-posts .control-panel .next {
	right: auto;
	left: 27px;
}

/* Post Teasers */
.post-teaser-item {
	padding: 10px 113px 10px 10px;
}
.post-teaser-item img {
	left: auto;
	right: 4px;
}
/* Excerpt */
.article-excerpt .has-featured-image .body {
	padding: 0 155px 0 0;
}
.article-excerpt .has-featured-image .body img {
	left: auto;
	right: 0;
}

/* Pagination */
.pagination .previous {
	float: right;
}
.pagination .next {
	float: left;
}

/* Footer */
#footer label, #footer .nav {
	float: right;
}
#footer .nav li {
	background-position: right -493px;
	margin-left: 0;
	margin-right: 6px;
	padding-left: 0;
	padding-right: 8px;
}

/* Float navigation elements right on RTL */

.nav li {
	display: inline;
	float: right;
}



/* 	
 *	IE7 Navigation Item Float-Switch Weirdness
 *	
 *	IE7 has very strange issues with floating nav items right while RTL is enabled.
 *	
 *	If this style is not here, the floats on the nav menus in RTL break the site
 *	in a spectacular way.  navigation items misalign, or disappear completely.
 *	The page gets crazy horizontal margins, resulting in horizontal scrollbars.
 *	The header background breaks.
 *	
 *	disabling the float allows IE7 to treat the list items like inline elements,
 *	thereby naturally reordering them RTL, and zoom:1 gives layout to the list
 *	items, making them emulate inline-block elements, which keeps the margin
 *	assignments valid.
 *	
 */

html.ie7 .nav li {
	zoom: 1;
	
	float: none;
}