/**
 * TinyMCE styles for XML editor
 */

/** base
 -------------------------------------------------- */
body {
	background: #F4F4F4;
}

/* visual wrapper for elements */
h1,h2,h3,h4,h5,h6,p,div[data-xmlel="title"],div[data-xmlel="sec"],caption,div[data-xmlel="caption"],
div[data-xmlel="fig"], div[data-xmlel="fig"] div[data-xmlel="label"], div[data-xmlel="fig"] div[data-xmlel="long-desc"], div[data-xmlel="fig"],
div[data-xmlel="fig"] div[data-xmlel="copyright-statement"], div[data-xmlel="fig"] div[data-xmlel="copyright-holder"],
div[data-xmlel="table-wrap"], div[data-xmlel="table-wrap"] div[data-xmlel="label"], div[data-xmlel="disp-quote"], div[data-xmlel="preformat"], div[data-xmlel="p"], div[data-xmlel="permissions"], div[data-xmlel="license"] {
	border: 1px solid #DFDFDF;
	background-color: #fff;
	display: block;
	margin: 3px 0;
	min-height: 18px;
	padding: 4px 8px;
}

.sec .sec .title {
	background-color: #e6f2f5;
}

.sec .sec .sec .title {
	background-color: #fcefdc;
}

.sec .sec .sec .sec .title {
	background-color: #f5f9df;
}

/** basic XML element styles
 -------------------------------------------------- */
div[data-xmlel="title"] {
	font-size: 16px;
	font-weight: bold;
}
span[data-xmlel="underline"] {
	text-decoration: underline;
}
span[data-xmlel="italic"] {
	font-style: italic;
}
span[data-xmlel="bold"] {
	font-weight: bold;
}
span[data-xmlel="ext-link"] {
	text-decoration: underline;
	color: #0000FF;
}
span[data-xmlel="xref"] {
	font-size: xx-small;
	vertical-align:top;
	font-weight: bold;
	padding-right: 1px;
	background: #999;
	display: inline;
	width: 20px;
}
span[data-xmlel="xref"]:before {
}
span[data-xmlel="xref"]:after {
}
span[data-xmlel="inline-graphic"] {
}
span[data-xmlel="monospace"],
div[data-xmlel="preformat"] {
	font-family: monospace;
}
div[data-xmlel="preformat"] {
	white-space: pre;
}

/** lists
 -------------------------------------------------- */
div[data-xmlel="list"] {
	display: block;
}

/* Clear normal p styling for list-items */
div[data-xmlel="list-item"] div[data-xmlel="p"] {
	border: none;
	background-color: #fff;
	display: inline-block;
	margin: 0px;
	min-height: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-left: 15px;
	background-image: none;
}

div[data-xmlel="list-item"]:before {
	position:absolute;
}

div[data-xmlel="list"][list-type=bullet] > div[data-xmlel="list-item"]:before {
	content: "\2022 ";
}
div[data-xmlel="list"][list-type=order] {
	counter-reset: item;
}
div[data-xmlel="list"][list-type=order] > div[data-xmlel="list-item"]:before {
	content: counter(item) ". ";
	counter-increment: item;
}
div[data-xmlel="list-item"] {
	display: block;
	margin-left: 10px;
	margin-bottom: 2px;
}

/** quotes
 -------------------------------------------------- */
div[data-xmlel="disp-quote"] {
	font-style: italic;
}
div[data-xmlel="disp-quote"] div[data-xmlel="permissions"] {
	font-style: normal;
	display: none;
}
div[data-xmlel="disp-quote"] attrib:before {
	content: " - ";
}
div[data-xmlel="disp-quote"] attrib {
	font-style: normal;
}

/** tables
 -------------------------------------------------- */
table.mceitemtable {
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.mceitemtable td:empty,
table.mceitemtable th:empty  {
	width:20px;
	height:20px;
}
table.mceitemtable td,
table.mceitemtable th  {
	border: 1px solid #999;
	border-spacing: 0px;
	padding: 3px 5px;
	margin: 0px;
	min-height: 20px;
	min-width: 20px;
}
table.mceitemtable th {
	font-size: 12px;
}
div[data-xmlel="table-wrap"] {
	display: inline-block;
}
div[data-xmlel="table-wrap"] div[data-xmlel="label"] {
	font-weight: bold;
}
div[data-xmlel="table-wrap"] div[data-xmlel="label"], div[data-xmlel="table-wrap"] div[data-xmlel="caption"] {
	display: block;
	border: 1px solid #dfdfdf;
	margin: 4px 0;
}
th,
td {
	min-width: 15px;
	padding: 0 3px;
}

/** Figures
 -------------------------------------------------- */
div[data-xmlel="fig"] {
	display: block;
	padding: 5px;
	min-height: 150px;
}
div[data-xmlel="fig"] img {
	float: left;
	margin-right: 5px;
	border: 1px solid #ccc;
}
div[data-xmlel="fig"] media {
	display: none;
}
div[data-xmlel="fig"] alt-text {
	display: none;
}
div[data-xmlel="fig"] uri {
	display: none;
}
div[data-xmlel="fig"] div[data-xmlel="label"] {
	font-weight:bold;
	min-width: 250px;
}
div[data-xmlel="fig"] div[data-xmlel="caption"] {
	min-width: 250px;
}
div[data-xmlel="fig"] div[data-xmlel="long-desc"],
div[data-xmlel="fig"] div[data-xmlel="copyright-statement"],
div[data-xmlel="fig"] div[data-xmlel="copyright-holder"],
div[data-xmlel="fig"] div[data-xmlel="license-p"],
div[data-xmlel="fig"] div[data-xmlel="caption"],
div[data-xmlel="fig"] div[data-xmlel="label"] {
	display: block;
	margin: 0 0 4px;
	overflow: hidden;
}
div[data-xmlel="fig"] div[data-xmlel="long-desc"],
div[data-xmlel="fig"] div[data-xmlel="copyright-statement"],
div[data-xmlel="fig"] div[data-xmlel="copyright-holder"],
div[data-xmlel="fig"] div[data-xmlel="license-p"] {
	font-size: 10px;
}

div[data-xmlel="media"] {
	display:none;
}


/** bg image labels
 -------------------------------------------------- */
div[data-xmlel="caption"],
div[data-xmlel="disp-quote"],
div[data-xmlel="fig"],
div[data-xmlel="fig"] div[data-xmlel="label"],
div[data-xmlel="title"],
div[data-xmlel="p"],
div[data-xmlel="preformat"],
div[data-xmlel="sec"],
div[data-xmlel="table-wrap"],
div[data-xmlel="table-wrap"] div[data-xmlel="label"] {
	background-position: 2px 2px;
	background-repeat: no-repeat;
	padding-top: 9px;
}

div[data-xmlel="caption"] {
	background-image: url(../img/tinymce/caption.gif);
}
div[data-xmlel="disp-quote"] {
	background-image: url(../img/tinymce/quote.gif);
}
div[data-xmlel="fig"] {
	background-image: url(../img/tinymce/figure.gif);
}
div[data-xmlel="fig"] div[data-xmlel="label"] {
	background-image: url(../img/tinymce/label.gif);
}
div[data-xmlel="title"] {
	background-image: url(../img/tinymce/title.gif);
}
div[data-xmlel="p"] {
	background-image: url(../img/tinymce/paragraph.gif);
}
div[data-xmlel="preformat"] {
	background-image: url(../img/tinymce/preformat.gif);
}
div[data-xmlel="sec"] {
	background-image: url(../img/tinymce/section.gif);
}
div[data-xmlel="table-wrap"] {
	background-image: url(../img/tinymce/table.gif);
}
div[data-xmlel="table-wrap"] div[data-xmlel="label"] {
	background-image: url(../img/tinymce/label.gif);
}

/** Links
 -------------------------------------------------- */
span[data-xmlel="ext-link"] {
	text-decoration: underline;
	color: #0074a2;
}


/** utilities
 -------------------------------------------------- */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
	visibility: hidden;
}
