/**
* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
* v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
* html5doctor.com/html-5-reset-stylesheet/
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/** @section Basics and Typography
 -------------------------------------------------- */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* Normalize monospace sizing:
en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/**
* Minimal base styles.
*/
/* Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/**
* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
*/
body {
  font: 13px/1.231 Arial, Helvetica, sans-serif;
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}
a {
  color: #006b94;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul, ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */

  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
2) WebKit browsers add a 2px margin outside the chrome of form elements.
Firefox adds a 1px margin above and below textareas
3) Set font-size to match <body>'s, and font-family to sans-serif
4) Align to baseline */
button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}
/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
2) Align to text-top */
textarea {
  overflow: auto;
  vertical-align: text-top;
}
/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
Be aware that scaling large images can cause performance issues. */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/**
* You might tweak these..
*/
body,
select,
input,
textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */

  color: #444;
  /* Set your base font here, to apply evenly */

  /* font-family: Georgia, serif; */

}
/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/**
* Non-semantic helper classes: please define your styles before this section.
*/
/* For image replacement */
.imr {
  display: block;
  text-indent: -32000px;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/**
 * Easy horizontal navigation styles
 * @todo dropdowns built in.
 * Formulated for use as a mixin if needed.
 */
.nav {
  zoom: 1;
  list-style: none;
  margin: 0;
}
.nav:before, .nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav li {
  /**
		 * @bugfix double-margin float bug
		 * @affected IE6, IE7
		 * @valid yes
		 */

  display: inline;
  float: left;
  margin: 0;
}
.nav a {
  display: block;
}
/*
Each main section of the site is an "Act"
Act 1: Header
Act 2: Content
Act 3: Footer
*/
.act .in {
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 960px;
}
.act .in:before, .act .in:after {
  content: "";
  display: table;
}
.act .in:after {
  clear: both;
}
/** @section Header
 -------------------------------------------------- */
#header {
  background: #006b94;
  color: #fff;
}
#header .header-body {
  height: 86px;
  position: relative;
  zoom: 1;
}
#header a {
  color: #fff;
}
#main {
  padding-top: 35px;
}
#main-body, #masthead-body {
  float: left;
  overflow: hidden;
  padding-right: 15px;
  width: 630px;
}
#main-sidebar, #masthead-sidebar {
  float: left;
  overflow: hidden;
  padding-left: 15px;
  width: 300px;
}
#site-name {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
  padding: 36px 0 7px 0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
}
#site-nav {
  background: #66a6bf;
  font-weight: bold;
  font-size: 14px;
}
#site-nav .nav {
  float: left;
}
#site-nav li {
  color: #66A6BF;
}
#site-nav li ul {
  display: none;
  position: absolute;
  z-index: 1000;
}
#site-nav li li {
  float: none;
}
#site-nav li li a {
  background: #66A6BF;
  border: none;
}
#site-nav li:hover ul {
  display: block;
}
#site-nav a {
  border-right: 1px solid #006b94;
  line-height: 20px;
  padding: 7px 10px;
}
#secondary-nav .nav {
  bottom: 13px;
  position: absolute;
  right: 0;
}
#secondary-nav li {
  background: url(../img/sprite-y.8bit.png) 0 7px no-repeat;
  margin-left: 8px;
  padding-left: 9px;
}
#secondary-nav li:first-child, #secondary-nav li.first-child {
  background: none;
  margin-left: 0;
  padding-left: 0;
}
#masthead {
  padding: 35px 0;
}
/* Re-usable features */
form.search {
  margin: 6px 6px 0 0;
  width: 200px;
}
form.search input.type-text {
  color: #666;
  font-size: 13px;
  padding: 1px 19px 1px 6px;
  width: 169px;
  /*subtract left padding and right padding*/

}
form.search {
  position: relative;
}
form.search .type-submit {
  background: url(../img/sprite-y.8bit.png) 0 -100px no-repeat;
  border: 0;
  height: 13px;
  position: absolute;
  right: 6px;
  top: 5px;
  width: 14px;
}
/* Search form when in header */
#site-nav .search {
  float: right;
}
.featured-posts {
  overflow: hidden;
  position: relative;
}
.featured-posts ul {
  margin: 0;
  padding: 0;
}
.featured-posts li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured-posts .carousel-item {
  /**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */

  height: auto !important;
  height: 232px;
  min-height: 232px;
  background: #66a6bf;
  color: #000;
  padding: 16px 16px 16px 300px;
  position: relative;
}
.featured-posts .carousel-item img {
  left: 16px;
  position: absolute;
  top: 18px;
}
.featured-posts .carousel-item .title {
  color: #fff;
  font: italic bold 24px Georgia, Serif;
  margin-bottom: 6px;
  text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
}
.featured-posts .carousel-item .content {
  font-size: 14px;
  line-height: 1.5;
}
.featured-posts .control-panel {
  bottom: 17px;
  color: #006b94;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 55px 0 0;
  position: absolute;
  right: 15px;
  text-align: right;
  text-transform: uppercase;
}
.featured-posts .control-panel .previous, .featured-posts .control-panel .next {
  -moz-border-radius: 10px;
  /* FF1+ */

  -webkit-border-radius: 10px;
  /* Saf3+, Chrome */

  -khtml-border-radius: 10px;
  /* Konqueror */

  border-radius: 10px;
  /* Standard. IE9 */

  background-image: url(../img/sprite-y.24bit.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
}
.featured-posts .control-panel .previous {
  background-position: 7px 6px;
  right: 27px;
}
.featured-posts .control-panel .next {
  background-position: 8px -94px;
  right: 0;
}
.article-excerpt {
  border-bottom: #ccc solid 1px;
  margin-bottom: 27px;
  padding-bottom: 30px;
  overflow: hidden;
}
.article-excerpt .title {
  font: bold 18px Georgia, Serif;
  margin-bottom: 5px;
}
.article-excerpt .meta {
  color: #666;
  font: italic 13px Georgia, Serif;
  margin-bottom: 10px;
}
.article-excerpt .sep {
  padding: 0 2px;
}
.article-excerpt .has-featured-image .body {
  /**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */

  height: auto !important;
  height: 122px;
  min-height: 122px;
  position: relative;
  padding-left: 155px;
  zoom: 1;
}
.article-excerpt .has-featured-image img {
  left: 0;
  position: absolute;
  top: 2px;
}
.callouts {
  margin-bottom: 30px;
}
.callouts ul {
  margin: 0;
  padding: 0;
}
.callouts li {
  float: left;
  list-style: none;
  margin: 0 0 0 30px;
  padding: 0;
  width: 300px;
}
.callouts li:first-child, .callouts li.first-child {
  margin-left: 0;
}
.callout-item {
  background: #f0f0f0;
}
.callout-item-interior {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-top-width: 2px;
  padding: 13px 17px;
}
.callout-item .title {
  font: italic bold 18px Georgia, Serif;
  margin-bottom: 4px;
}
.callout-item .content {
  font-size: 14px;
  line-height: 1.43;
}
.post-teasers ul {
  margin: 0;
  padding: 0;
}
.post-teasers li {
  list-style: none;
  margin: 0 0 1px;
  padding: 0;
}
.post-teaser-item {
  background: #66A6BF;
  height: 67px;
  overflow: hidden;
  padding: 10px 10px 10px 113px;
  position: relative;
}
.post-teaser-item img {
  left: 4px;
  position: absolute;
  top: 4px;
}
.post-teaser-item .content {
  color: #fff;
  font: italic bold 15px/1.47 Georgia, Serif;
  text-shadow: rgba(51, 51, 51, 0.6) 0 1px 0;
}
.pagination .previous {
  float: left;
}
.pagination .next {
  float: right;
}
.home .section-title, .single .subtitle {
  background: url(../img/border-background.png) 0 bottom repeat-x;
  color: #000;
  font: italic bold 16px Georgia, Serif;
  margin-bottom: 27px;
}
.home .section-title span, .single .subtitle span {
  background: #fff;
  padding-right: 3px;
  position: relative;
  top: 4px;
}
