/**
 * Theme Name: Annotum Sans
 * Description: A child theme of Annotum, an open-source, open-process, open-access scholarly authoring and publishing platform based on WordPress, with a modern, sans-serif style. Annotum provides a complete, open-access scholarly journal production system including peer-review, workflow, and advanced editing and formatting features such as structured figures, equations, PubMed and CrossRef reference import, and structured XML input and output compatible with the National Library of Medicine's Journal Article DTD. 
 * Version: 1.0
 * Author: Solvitor and Crowd Favorite
 * Author URI: http://annotum.org/credits/
 * Template: annotum-base
 * Tags: red, black, tan, white, dark, light, two-columns, right-sidebar, fixed-width, custom-colors, custom-header, custom-menu, featured-images, microformats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
 *
 * @package anno
 * This file is required by WordPress to read theme info. Actual styles loaded from assets dir.
 */