.article-excerpt {
	border-bottom: #ccc solid 1px;
	margin-bottom: 27px;
	padding-bottom: 15px;
	overflow: hidden;
}
.article-excerpt .header .title {
	font: bold 18px Georgia, Serif;
	margin-bottom: 5px;
}
.article-excerpt .header .meta {
	color: #666;
	font: italic 13px Georgia, Serif;
	margin-bottom: 10px;
}
.article-excerpt .sep {
	padding: 0 2px;
}
.article-excerpt-container .has-featured-image .content {
	/**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */
	height: auto !important;
	height: 122px;
	min-height: 122px;
	position: relative;
	padding-left: 155px;
	zoom: 1;
}
.article-excerpt-container .has-featured-image img {
	left: 0;
	position: absolute;
	top: 2px;
}
.article-excerpt .content {
	margin-bottom: 12px;
}