.authors {
	overflow: visible;
	/**
	 * @bugfix jump-on-hover bug
	 * @affected IE6
	 * If position relative isn't applied, the authors list will appear out of place and
	 * then jump into place on hover.
	 */
	position: relative;
}

.authors .author-info .content {
	background: url(../img/author-card-background.png) center bottom no-repeat;
	margin: 0;
	padding: 1px 15px 15px;
}
.authors .author-info .content p {
	margin: 0;
}
.authors ul {
	zoom: 1;
	padding-right: 4px;
}
.authors li {
	display: inline;
	float: left;
	margin-right: 10px;
	position: relative; 
}
/* position relative on .authors li a is causing a z-index issue for author hover cards.  raise z-index on hover to compensate. */
.authors li.hover {
	z-index: 2;
}
.authors li a {
	/* inline block fix.  position relative required to prevent peekaboo bug */
	zoom: 1;
	display: inline;
	
	position: relative;
}
.author {
	display: block;
	position: relative;
}
.author .extra a {
	display: inline;
}

.author .extra .group {
	display: block;
	margin-bottom: 5px;
}
.author .extra {
	background: url(../img/author-card-background.png) -300px bottom no-repeat;
	font-size: 12px;
	display: none;
	left: 50%;
	margin-left: -119px;
	padding-bottom: 10px;
	position: absolute;
	top: 20px;
	width: 248px;
	z-index: 1000;
}

.author .extra-in {
	background: url(../img/author-card-background.png) 0 0 no-repeat;
	display: block;
	padding: 16px 13px 1px;
}
.author:hover .extra,
.author.hover .extra {
	display: block;
}
html.ie7 .authors .extra {
	top: 15px;
}