#replies {
	margin-bottom: 22px;
	/**
	 * @workaround crop overflow and fix width, so comments
	 * don't break layout.
	 * @affected ie6
	 * @valid yes
	 */
	overflow: hidden;
	width: 100%;
}
#replies .section-header {
	margin-bottom: 4px;
	position: relative;
}
#replies .section-header a {
	font-size: 11px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
#replies .section-title {
	background: transparent;
	margin-bottom: 0;
}

.reply-list {
	border-bottom: 1px #ccc solid;
	margin: 0 0 18px;
	padding: 0;
}
.reply-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	/**
	 * @bugfix hasLayout fix
	 * Fixes jumpy comments when hovering over in-comment links.
	 * @affected IE6
	 * @valid no
	 */
	zoom: 1;
}
.comment,
.ping {
	border-top: 1px #ccc solid;
	padding: 14px 0;
}
.comment {
	min-height: 40px;
	padding-left: 180px;
	position: relative;
	zoom: 1; /* fix absolute positioning of gravatar and heading information in ie6 */
}

.reply-list .children .li-comment {
	padding-left: 20px;
}
.comment .header {
	/**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */
	height: auto !important;
	height: 38px;
	min-height: 38px;
	
	left: 0;
	padding: 0 0 0 46px;
	position: absolute;
	top: 14px;
	width: 134px;
}

.comment .header img {
	left: 0;
	position: absolute;
	top: 0;
}
.comment .header .title,
.comment .header .published {
	font: normal 13px Arial, Helvetica, Sans-Serif;
	margin: 0;
}
.comment .header .title {
	margin: 0;
}
.comment .content {
	font-size: 13px;
	line-height: 1.3847;
	margin-bottom: 10px;
}

.comment .footer {
	font-size: 11px;
}

.ping {
	font-size: 12px;
}

#respond {
	color: #666;
	width: 627px;
}
#reply-title {
	color: #000;
	font: italic bold 16px/1.2 Georgia, Serif;
	margin-bottom: 15px;
}
#respond .logged-in {
	margin-bottom: 12px;
}
#respond .row,
#respond .form-submit {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 180px;
	position: relative;
}
#respond .row-submit {
	background: none;
}
#respond .row label {
	font-size: 14px;
	line-height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 172px;
}
#respond .row .type-text,
#respond .row textarea {
	background: #fff;
	border: 1px #999 solid;
	font-size: 14px;
	padding: 6px;
}
#respond .row .type-text {
	width: 206px;
}
textarea#comment {
	display: block;
	height: 80px;
	width: 433px;
}
#submit {
	background: #006b94;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	height: 31px;
	padding: 5px 10px;
}