.pagination .previous {
	float: left;
}
.pagination .next {
	float: right;
}
.page-title {
	color: #000;
	font: bold 28px Georgia, Serif;
	margin-bottom: 5px;
}

/** @section Basic typography for .content areas
 -------------------------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 10px;
}
.content h1,
.content h2 {
	font-size: 16px;
}
.content h3 {
	font-size: 14px;
}
.content h4,
.content h5,
.content h6 {
	color: #777;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	margin-bottom: 3px;
}

/* In-content Styles */
.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content dl,
.content address,
.content table {
	margin-bottom: 10px;
}

.content blockquote {
	font: italic normal 18px/1.2 Georgia Serif;
	margin: 10px;
}
.content blockquote cite {
	font-weight: bold;
}

.content dt {
	font-style: italic;
	font-weight: bold;
}
.content dd {
	margin-bottom: 9px;
}

.content ul,
.content ol {
	margin-left: 2em;
}
.content li ul,
.content li ol {
	margin-bottom: 0;
}