.pagination {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	zoom: 1;
}
.pagination .previous {
	float: left;
}
.pagination .next {
	float: right;
}
.page-title {
	color: #000;
	font: bold 28px Georgia, Serif;
	margin-bottom: 5px;
}

/** @section Basic typography for .content areas
 -------------------------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 10px;
}
.content h1,
.content h2 {
	font-size: 16px;
}
.content h3 {
	font-size: 14px;
}
.content h4,
.content h5,
.content h6 {
	color: #777;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	margin-bottom: 3px;
}

/* In-content Styles */
.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content dl,
.content address,
.content table,
.content table-wrap {
	margin-bottom: 10px;
}
.content table-wrap label {
	display: block;
}
.content table caption {
	background: #f6f6f6;
	border: #ddd solid 1px;
	border-width: 1px 1px 0;
	color: #787878;
	font-size: 12px;
	line-height: 22px;
	padding: 0 8px;
	text-align: left;
}
.content table {
	background: #fff;
	border-collapse: collapse;
	border: #ddd solid 1px;
	min-width: 200px;
}
.content table th,
.content table td {
	padding-left: 6px;
	padding-right: 6px;
	text-align: left;
}
.content table th {
	background: #f6f6f6;
	border-bottom: #ddd solid 1px;
}
.content table td {
	border: #ddd solid 1px;
}
.content blockquote {
	font: italic normal 18px/1.2 Georgia Serif;
	margin: 10px;
}
.content blockquote cite {
	font-weight: bold;
}

.content dt {
	font-style: italic;
	font-weight: bold;
}
.content dd {
	margin-bottom: 9px;
}

.content ul,
.content ol {
	margin-left: 2em;
}
.content li {
	margin-bottom: 5px;
}
.content li ul,
.content li ol {
	margin-top: 5px;
	margin-bottom: 0;
}
/* Alignment */
.content .alignleft {
	float: left;
	margin: 0 10px 10px 0;
}	
.content .alignright {
	float: right;
	margin: 0 0 10px 10px;
}
.content .aligncenter {
	display: block;
	margin: 0 auto 10px auto;
}