.featured-posts {
	overflow: hidden;
	position: relative;
	zoom: 1;
}
.featured-posts ul,
.featured-posts li {
	height: 262px;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
.featured-posts .carousel-item {
	/**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */
	height: auto !important;
	height: 232px;
	min-height: 232px;

	background: #66a6bf;
	color: #000;
	padding: 16px 16px 16px 300px;
	position: relative;
}
.featured-posts .carousel-item img {
	left: 16px;
	position: absolute;
	top: 18px;
}
.featured-posts .carousel-item .title {
	font: italic bold 24px Georgia, Serif;
	margin-bottom: 6px;
}
.featured-posts .carousel-item .title a {
	color: #fff;
	text-shadow: 0 1px 1px rgba(51, 51, 51, .6);
}
.featured-posts .carousel-item .content {
	font-size: 14px;
	line-height: 1.5;
}
.featured-posts .control-panel {
	bottom: 17px;
	color: #006b94;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding: 0 55px 0 0;
	position: absolute;
	right: 15px;
	text-align: right;
	text-transform: uppercase;
	width: 200px;
	z-index: 10;
}

/* CSS3Pie */
.featured-posts .control-panel .previous,
.featured-posts .control-panel .next {
	background-image: url(../img/sprite-y.24bit.png);
	background-repeat: no-repeat;
	-moz-border-radius: 10px; /* FF1+ */
	-webkit-border-radius: 10px; /* Saf3+, Chrome */
	-khtml-border-radius: 10px; /* Konqueror */
	border-radius: 10px; /* Standard. IE9 */
	cursor: pointer;
	height: 20px;
	position: absolute;
	top: 0;
	width: 20px;
}
.featured-posts .control-panel .previous {
	background-position: 7px 6px;
	right: 27px;
}	
.featured-posts .control-panel .next {
	background-position: 8px -94px;
	right: 0;
}