#main {
	padding: 0;
}
#main-body {
	float: none;
	margin: 0;
	padding: 0;
	width: auto;
}
#header,
#footer,
#main-sidebar,
#wpadminbar,
.article-full .footer,
.tools-bar {
	display: none;
}
.act .in {
	width: auto;
	padding: 2em;
}

.article-full {
	background: none;
	margin: 0;
	padding: 0;
}

.callouts {
	margin-left: auto;
	margin-right: auto;
	width: 630px;
}