/* Content sections */
.sec {
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.sec h1,
.sec .title,
.section-title {
	background: url(../img/border-background.png) 0 bottom repeat-x;
	color: #000;
	font: italic bold 16px/1.2 Georgia, Serif;
	margin-bottom: 15px;
}
.section-title {
	margin-bottom: 25px;
}
.sec h1,
.sec .title {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 25px;
}
.sec h1:first-child,
.sec .title:first-child {
	margin-top: 0;
}
.sec h1 span,
.sec .title span,
.section-title span {
	background: #fff;
	padding-right: 3px;
	position: relative;
	top: 4px;
	/**
	 * @bugfix hasLayout fix
	 * Resolves visual cruft with border image
	 * @affected	IE6
	 * @valid		no
	 */
	zoom: 1;
}

/* Correct IE6 bug causing relatively positioned headers to appear above author card */
.sec-authors {
	position: relative;
	z-index: 2;
}