#main-sidebar .widget {
	background: #f0f0f0;
	margin-bottom: 1px;
	padding: 20px;
}
#main-sidebar .widget .title {
	border-top: #c2c2c2 solid 1px;
	color: #000;
	font: italic bold 14px Georgia, Serif;
	margin-bottom: 10px;
	padding-top: 20px;
}

/* widget style edge cases */
/* calendar */
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	margin-bottom: 10px;
	text-align: left;
}
#wp-calendar th {
	text-align: left;
}
#wp-calendar tfoot td {
	padding-top: 10px;
} 

#main-sidebar .widget_solvitor_ad {
	background: none;
	padding: 0;
}
#main-sidebar .widget_solvitor_ad img {
	display: block;
}
#main-sidebar .widget_search #s {
	width: 115px;
}
html.ie8 #main-sidebar .widget_search #s {
	width: 100px;
}
#main-sidebar .widget_nav_menu .nav li {
	display: block;
	float: none;
}

.widget li {
	font-size: 13px;
	line-height: 1.38;
	padding: 3px 0;
}
.widget ol li.recentcomments:hover,
.widget ul li.recentcomments:hover {
	background-color: none;
}
.widget li.recentcomments a:hover {
	text-decoration: underline;
}